@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=roboto:wght@700&family=Poppins:wght@300&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Available Fonts:exo 2, roboto, poppins, space mono */
* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #02185f;
    display: flex;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #ddd;
    z-index: 999;
}

.navbar .logo {
    width: 50px;
    padding-right: 30px;
    padding-left: 30px;
}

.sidebarBtn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: sticky;
    padding: 0 30px;
}

.sidebarBtn svg {
    width: 30px;
    cursor: pointer;
}

.navSearch {
    height: 60%;
    width: 60%;
    padding: 20px;
    outline: none;
    border: none;
    font-family: "poppins";
    border-radius: 6px;
}

.searchIcon {
    width: 30px;
    cursor: pointer;
}

.navBtn {
    width: 6%;
    height: 50%;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
    font-family: "roboto";
}

.navBtn a {
    color: #fff;
    text-decoration: none;
}

.navBtn a:hover {
    color: #02185f;
    background-color: #fff;
}

@media (max-width:725px) {
    .navBtn {
        display: none;
    }
}

.sidebar {
    background-color: #02185f;
    height: 100%;
    width: 250px;
    position: fixed;
    left: -250px;
    transition: 400ms;
    margin-top: 72px;
}

.sidebar h1 {
    font-family: "space mono";
    color: #fff;
    font-size: 36px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-family: poppins;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #fff;
    color: #02185f;
}

.displayBlock {
    display: block;
    padding: 10px;
}

.main {
    font-family: poppins;
    padding: 20px;
}

.mainTitle {
    margin: 20px;
    margin-top: 70px;
}

.blogContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title {
    margin: 35px;
    font-size: 30px;
    color: #222;
}

.blog {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    width: 28%;
    color: #222;
    border: 1px solid #02185f;
}

.blog h2 {
    font-size: 25px;
}

.info {
    display: flex;
    align-items: center;
    width: auto;
    font-size: 18px;
    font-weight: 100;
    margin: 10px 0px;
}

h6 {
    font-size: 15px;
}

.a {
    background-color: #222;
    color: white;
    border-radius: 9px;
    border: none;
    margin: 10px 0px;
    padding: 15px;
}

.FeedDiv {
    background-color: hsl(228, 19%, 5%);
    border-radius: 9px;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 72px;
    border: 2px solid #fff;
    height: 200px;
}

#feedInput {
    height: 20px;
    width: 60%;
    padding: 10px;
    font-size: 14px;
    font-family: poppins;
    border: none;
    outline: none;
    padding-left: 10px;
}

#feedBtn {
    height: 40px;
    width: 40px;
    font-size: 17px;
    font-family: poppins;
    font-weight: 700;
    border: 2px solid #fff;
    border-left: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: transparent;
}

#feedBtn img {
    height: 37px;
    width: 37px;
}

.logoMy {
    width: 120px;
    margin: 25px;
}

.logoBms {
    margin: 25px;
    width: 300px;
}

.plusSign {
    color: antiquewhite;
    font-size: 50px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projectDiv {
    background-color: #222;
    border: 1px solid #02185f;
    color: #02185f;
    padding: 10px;
    margin: 10px;
    padding: 20px;
    height: 90px;
    width: 375px;
    border-radius: 9px;
}

.projectDiv h3 {
    font-size: 19px;
    color: #f2f2f2;
    margin-bottom: 10px;
}

.projectDiv p {
    color: white;
    font-size: 15px;
}

.projectBtn {
    background-color: #ddd;
    border-radius: 9px;
    color: #02185f;
    position: relative;
    bottom: 0;
    padding: 9px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.tabs {
    background-color: #222;
    border-radius: 9px;
    padding: 10px;
    margin: 10px;
    padding: 20px;
}

.tab {
    color: #ddd;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background-color: transparent;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 9px;
}

.tab:hover {
    background-color: black;
}

.searchInput {
    padding: 8px 12px;
    margin-right: 12px;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: #121212;
    font-size: 1rem;
    color: #eee;
    outline: none;
    font-family: poppins;
    width: 100%;
}

.searchInput::placeholder {
    color: #999;
}

.navMainTitle {
    color: #ddd;
    font-size: 25px;
    font-family: poppins;
    margin-right: 30px;
}

.loginBody {
    background-color: #fff;
    font-family: poppins;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}



@media (max-width:900px) {



    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:420px) {
    .projectDiv {
        height: 160px;
    }

    .projectDiv h3 {
        font-size: 18px;
    }

    .projectBtn {
        margin: 5px;
    }
}

.loadImg {
    width: 14px;
    margin: 0;
    padding: 0;
}

.annualComment {
    margin-top: 100px;
    background-color: #02185f;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#annualInput {
    border: none;
    outline: none;
    padding: 15px;
    width: 80%;
    font-size: 15px;
    font-family: poppins;
}

#annualBtn {
    border: none;
    outline: none;
    background-color: #02185f;
    border: 2px solid #fff;
    border-left: none;
    cursor: pointer;
}

#annualBtn img {
    width: 46px;
    height: 46px;
}

.login-logo {
    margin-top: 30px;
    width: 150px;
}

.login-logo-text{
    width: 300px;
}

.logo-images {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.login-title {
    margin-bottom: 25px;
    font-size: 30px;
    color: #031273;
    font-family: "Roboto";
    letter-spacing: -1px;
    font-weight: 500;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm input {
    padding: 10px;
    border-radius: 9px;
    border: 1px solid rgb(124, 124, 124);
    font-size: 1rem;
    font-family: "poppins";
    width: 300px;
}

.loginForm button {
    padding: 10px;
    border: none;
    outline: none;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color: #02185f;
    color: white;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@media (max-width: 907px) {
    .options {
        flex-direction: column;
    }
}

.optionDiv {
    background-color: #02185f;
    height: 300px;
    width: 400px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

@media (max-width: 465px) {
    .optionDiv {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.optionDiv h2 {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: roboto;
    text-align: center;
}

.btn {
    width: 100px;
    background-color: transparent;
    font-size: 18px;
    border-radius: 0px;
    border: 2px solid #fff;
    color: #fff;
    outline: none;
    padding: 10px;
}

.btn:hover {
    background-color: #fff;
    color: #02185f;
    transition: 0.4s;
}

.annualBody {
    background-color: #02185f;
}

.annual-main {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.annual-main h1 {
    font: 500 50px roboto;
    margin: 20px;
}

.annual-main p {
    width: 70%;
    text-align: center;
    font-family: poppins;
    margin-bottom: 40px;
}

.annual-main img {
    width: 500px;
}

#annualTextInput {
    width: 430px;
    padding: 20px;
    margin: 20px;
    border: none;
    outline: none;
    font-size: 17px;
}

.annualCommentSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.optionP {
    font-size: 20px;
    font-family: sans-serif;
    margin: 20px;
    text-align: center;
}

.main {
    font-family: poppins;
}

.btnBgDark {
    background-color: #02185f;
}

.backBtn {
    position: relative;
    left: 1%;
    height: 40px;
    padding: 0;
}


/* Admin Auth */
.adminBody {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #02185f;
    color: #fff;
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
}

.h1 {
    margin: 10px;
    margin-bottom: 20px;
}

.container {
    width: 375px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

form.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.login-form label {
    margin-bottom: 10px;
}

form.login-form input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #02185f;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}

form.login-form input[type="submit"] {
    cursor: pointer;
    background-color: #fff;
    color: #02185f;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

form.login-form input[type="submit"]:hover {
    background-color: #45a29e;
}

@media (max-width:437px) {
    .container {
        width: 90%;
    }
}

.areYouAdminLink {
    color: #fff;
    margin: 10px;
}

/* Admin table special classes */
.voted-projects-table {
    width: 100%;
    border-collapse: collapse;
    font-family: poppins;
}

.table-header-cell,
.table-data-cell {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.table-data-cell {
    font-family: poppins;
}

.table-header-cell {
    background-color: #f2f2f2;
    font-weight: bold;
    font-family: roboto;
}